<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.coodman.app.dao.DevDao">
 
 	<insert id="saveDevInfo"  parameterType="Developer" useGeneratedKeys="true" keyProperty="devId" >
 		insert into sys_dev(
				 		dev_name,
				 		PASSWORD,
				 		cellphone,
				 		email,
				 		dev_info
 						)
			 		values(
			 			#{devName},
			 			#{password},
			 			#{cellphone},
			 			#{email},
			 			#{devInfo}
			 				)
 	</insert>
 	
 	<select id="findByDevNoList" parameterType="java.util.Map" resultMap="devMap">
 		select
	 		dev_id,
	 		dev_no,
	 		dev_name,
	 		PASSWORD,
	 		cellphone,
	 		email,
	 		dev_info,
	 		create_date,
	 		update_date
 		from
 			sys_dev 
 		where 
 		<if test="devNo != null">dev_no=#{devNo} and</if>
 		1=1
 	</select>
 	
 	<update id="updateDev" parameterType="Developer">
 		update sys_dev set
 			dev_no=#{devNo},
	 		dev_name=#{devName},
	 		PASSWORD=#{password},
	 		cellphone=#{cellphone},
	 		email=#{email},
	 		dev_info=#{devInfo}
	 	where 
	 		dev_id=#{devId}
 	</update>
 	
 	<resultMap type="Developer" id="devMap">
 		<id property="devId" column="dev_id"/>
 		<result property="devNo" column="dev_no"/>
 		<result property="devName" column="dev_name"/>
 		<result property="password" column="PASSWORD"/>
 		<result property="cellphone" column="cellphone"/>
 		<result property="email" column="email"/>
 		<result property="devInfo" column="dev_info"/>
 		<result property="createDate" column="create_date"/>
 		<result property="updateDate" column="update_date"/>
 	</resultMap>
 </mapper>
